<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCliente</servlet-name>
        <servlet-class>Controlador.controladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorPdto</servlet-name>
        <servlet-class>Controlador.controladorPdto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorRep</servlet-name>
        <servlet-class>Controlador.controladorRep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorTrp</servlet-name>
        <servlet-class>Controlador.controladorTrp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorEstadoP</servlet-name>
        <servlet-class>Controlador.controladorEstadoP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorLogin</servlet-name>
        <servlet-class>Controlador.controladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCarrito</servlet-name>
        <servlet-class>Controlador.controladorCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorPedido</servlet-name>
        <servlet-class>Controlador.controladorPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCompra</servlet-name>
        <servlet-class>Controlador.controladorCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorPedidoCliente</servlet-name>
        <servlet-class>Controlador.controladorPedidoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorReportes</servlet-name>
        <servlet-class>Controlador.controladorReportes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCliente</servlet-name>
        <url-pattern>/controladorCliente</url-pattern>
        <url-pattern>/agregarCliente.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorPdto</servlet-name>
        <url-pattern>/controladorPdto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorRep</servlet-name>
        <url-pattern>/controladorRep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorTrp</servlet-name>
        <url-pattern>/controladorTrp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorEstadoP</servlet-name>
        <url-pattern>/controladorEstadoP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorLogin</servlet-name>
        <url-pattern>/controladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCarrito</servlet-name>
        <url-pattern>/agregarProducto.html</url-pattern>
        <url-pattern>/eliminar.html</url-pattern>
        <url-pattern>/buscarCliente.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorPedido</servlet-name>
        <url-pattern>/addPedido</url-pattern>
        <url-pattern>/delete.jsp</url-pattern>
        <url-pattern>/editPedido</url-pattern>
        <url-pattern>/add</url-pattern>
        <url-pattern>/agregarPedidoCompleto</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/listPedido</url-pattern>
        <url-pattern>/procederCompra</url-pattern>
        <url-pattern>/actualizarPedido</url-pattern>
        <url-pattern>/actualizarPedidoRepartidor</url-pattern>
        <url-pattern>/editPedidoRepartidor</url-pattern>
        <url-pattern>/listarPedidosRepartidor</url-pattern>
        <url-pattern>/listarPedidosRealizados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCompra</servlet-name>
        <url-pattern>/editCompra</url-pattern>
        <url-pattern>/editCompra.html</url-pattern>
        <url-pattern>/addCompra</url-pattern>
        <url-pattern>/deleteCompra</url-pattern>
        <url-pattern>/listCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorPedidoCliente</servlet-name>
        <url-pattern>/listar</url-pattern>
        <url-pattern>/buscarPedido.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorReportes</servlet-name>
        <url-pattern>/vistaReportesCliente.jsp</url-pattern>
        <url-pattern>/vistaReportesCompra.jsp</url-pattern>
        <url-pattern>/vistaReportesEstado.jsp</url-pattern>
        <url-pattern>/vistaReportesPedido.jsp</url-pattern>
        <url-pattern>/vistaReportesPro.jsp</url-pattern>
        <url-pattern>/vistaReportesProvedor.jsp</url-pattern>
        <url-pattern>/vistaReportesRep.jsp</url-pattern>
        <url-pattern>/vistaReportesTipo.jsp</url-pattern>
        <url-pattern>/vistaReportesTrans.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
