<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCliente</servlet-name>
        <servlet-class>Controlador.controladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorPdto</servlet-name>
        <servlet-class>Controlador.controladorPdto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorRep</servlet-name>
        <servlet-class>Controlador.controladorRep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorTrp</servlet-name>
        <servlet-class>Controlador.controladorTrp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorEstadoP</servlet-name>
        <servlet-class>Controlador.controladorEstadoP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCliente</servlet-name>
        <url-pattern>/controladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorPdto</servlet-name>
        <url-pattern>/controladorPdto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorRep</servlet-name>
        <url-pattern>/controladorRep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorTrp</servlet-name>
        <url-pattern>/controladorTrp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorEstadoP</servlet-name>
        <url-pattern>/controladorEstadoP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
