

/*shop cart styles*/
.slide_container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    /* width: 100%; */
    background-color: white;
    color: black;
    z-index: 1000;
    /* overflow-y: hidden; */
}
.overlay_container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 320px) and (max-width: 425px) {
    .slide_container {
        width: 85%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .delete_container {
        margin-left: 200px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .slide_container {
        width: 36%;
    }
    .delete_container {
        margin-left: 250px;
    }
}

/* cart */

.cart-count{
    background: #e75353;
    color:white;
    border-radius: 100%;
    font-weight:bold;
    padding: 2px;
    height: 20px;
    width: 20px;
    line-height: 1;
    text-align: center;
    position:relative;    
    top:8px;
    right:10px;    
}

.cart {
    padding: 1rem;
    margin: 1rem;
    margin-left: 0rem;
    display: flex;
    width: 100%;
}

.cart ul {
    height: 68vh;
    overflow: hidden;
    overflow-y: auto;
}

.cart-header {
    border-bottom: 0.1rem #c0c0c0 solid;
    margin-left: 1rem;
}

.cart-items {
    padding: 0;
    width: 90%;
    list-style-type: none;
}

.cart_item_container {
    width: 90%;
    display: flex;
    margin: 1rem;
    color: #6a6a6a;
}

.cart_item_container img {
    height: 100px;
    margin: 0;
    padding-right: 10px;
    position: initial;
}

.delete_container {
    cursor: pointer;
    font-size: 2rem;
    color: #6a6a6a;
    height: 100px;
    width: 100px;
    padding: 2px 5px 2px 5px;
    /* margin-left: 250px; */
}

.delete_container:hover {
    background-color: #e75353;
    border-radius: 50%;
    color: white;
    /* padding: 2px 8px 2px 8px; */
}

.title_container {
    width: 33vw;
}

.price_and_count {
    /* width: 200px; */
    color: black;
    font-weight: bold;
    /* display: flex; */
    /* justify-content: space-between; */
}

.stepper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.stepper_control {
    border: 0;
    background-color: transparent;
    outline: none;
    margin-right: 5px;
}

.stepper_control:hover {
    border: 0;
    background-color: transparent;
    outline: none;
}

.stepper_control i {
    color: #6a6a6a;
}

.count_value_container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.value_container {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.total_container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px;
    color: #6a6a6a;
    font-weight: bold;
}

.total_value {
    position: absolute;
    right: 1rem;
}

.close_btn {
    width: 25%;
    height: 45px;
    line-height: 45px;
    background-color: white;
    outline: 0;
    border: 1px solid #1977cc;
    color: #1977cc;
    margin-right: 10px;
    border-radius: 4px;
}

.close_btn:hover {
    background-color: #1977cc;
    color: white;
}

.proceed_btn {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #1977cc;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.proceed_btn:hover {
    color: #1977cc;
    background-color: white;
}

.total_btn_actions {
    display: flex;
    /* padding-left: 10px; */
}

.close_btn_no_products {
    position: absolute;
    bottom: 3rem;
    width: 100%;
}

.width_total {
    width: 90% !important;
}